body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
.txt{
    font-size: 40px;
    font-family: cursive;

}

